.searchInputWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        border: 1px solid rgb(182, 182, 182);
        border-radius: 10px;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: transparent;
        font-size: 18px;
        outline: none;
        color: rgb(201, 201, 201);
        &::placeholder {
            color: rgb(201, 201, 201);
        }
    }

    button {
        width: 24px;
        height: 24px;
        background: url('../../../../assets/icons/search.png') no-repeat center center/contain;
        outline: none;
        border: none;
        cursor: pointer;
    }
}
