@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.appWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
}